@font-face {
  font-family: 'icons';
  src:  url('../public/fonts/icomoon.eot?i89ga0');
  src:  url('../public/fonts/icomoon.eot?i89ga0#iefix') format('embedded-opentype'),
    url('../public/fonts/icomoon.ttf?i89ga0') format('truetype'),
    url('../public/fonts/icomoon.woff?i89ga0') format('woff'),
    url('../public/fonts/icomoon.svg?i89ga0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]::before, [class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  //speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-backgammon:before {
  content: "\e900";
}
.icon-cards:before {
  content: "\e901";
}
.icon-cristal:before {
  content: "\e902";
}
.icon-crown:before {
  content: "\e903";
}
.icon-dealer:before {
  content: "\e904";
}
.icon-DESU_logo:before {
  content: "\e905";
}
.icon-diamond:before {
  content: "\e906";
}
.icon-lottery:before {
  content: "\e907";
}
.icon-poker:before {
  content: "\e908";
}
.icon-roulette:before {
  content: "\e909";
}
.icon-slots:before {
  content: "\e90a";
}
.icon-sport-1:before {
  content: "\e90b";
}
.icon-sport:before {
  content: "\e90c";
}
.icon-video:before {
  content: "\e90d";
}
