@import 'iconstyle';

$background: url('/public/assets/img/bg_tr.png');
$white: #fff;
$accent-color-normal : #7747E5;

body {
    margin: 0;
    padding: 0;
    background-image: $background;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-position: center;
    width: 100%;
}
.nav {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    margin: 30px;
}
.nav__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: 10px;
    width: 100px;
    height: 80px;
}
.nav__icon {
    padding: 5px;
    justify-content: flex-start;
    font-size: 28px; 
}
.nav__text {
    text-decoration: none;
    color: $white;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}
.header {
    color: $white;
    font-family: Work Sans;
    font-size: 40px;
    margin-left: 180px;
    display: flex;
    align-items: center;
    padding: 20px;
}
.header__image {
    border-radius: 25px;
    margin-right: 10px;
}
.container {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin: 25px 100px 50px 100px;
}
.container__items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    
}
.container__image {
    border-radius: 25px;
}
.container__btn {
    color: $white;
    background-color: $accent-color-normal;
    text-align: center;
    font-family: Work Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 800;
    line-height: 30px;
    border-radius: 12px;
    border: none;
    padding: 15px 20px;
    margin: 50px;
}